:root {
    --clr-accent: #40655e;
    --clr-black-100: #131313;
    --ff-headings: "Luxia", sans-serif;
    --ff-body: "Montserrat", sans-serif;
    --ff-sub: "Barlow", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    color: #111;
    font-family: var(--ff-body);
    font-weight: 400;
}

img {
    max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
}

li,
ol {
    list-style: none;
}

p {
    font-family: var(--ff-body);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow", sans-serif;
}

button:focus {
    outline: none !important;
}

/*Top header*/
.top__header_bar #top__header {
    text-align: center;
}

.heading__title {
    text-align: end;
}

.top_headings p {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
}

.top_headings p span {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    padding-left: 10px;
}

button.ln-btn {
    border: none;
    background: #212529;
    color: #fff;
    margin: 15px;
    font-size: 14px;
}

button.ln-btn span.caret {
    padding: 6px;
}